[member]
ETCD_NAME="{{ ansible_hostname }}"
ETCD_DATA_DIR="/var/lib/etcd/{{ ansible_hostname }}.etcd"
ETCD_LISTEN_PEER_URLS="http://{{ hostvars[ansible_hostname].ansible_default_ipv4.address }}:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"

[cluster]
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ hostvars[ansible_hostname].ansible_default_ipv4.address }}:2380"
ETCD_INITIAL_CLUSTER="{% for host in groups.etcd %}
{{ host }}=http://{{ hostvars[host].ansible_default_ipv4.address }}:2380
{%- if not loop.last %},{% endif %}
{% endfor %}"
ETCD_INITIAL_CLUSTER_TOKEN="etcd.{{ openstack_vm_domain_name }}"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ hostvars[ansible_hostname].ansible_default_ipv4.address }}:2379"
